{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <title>
      {% block titulo %}
        Base Registro
      {% endblock %}
    </title>
  {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" align="center">
          <a class="navbar-brand">
              <img src="/static/images/cenditel.png" width="100px" height="50px"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
  
              </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <h2>
                        Inicio
                      </h2>
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'registro:registrar' %}">
                      <h2>
                        Registrar
                      </h2> 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <h2>
                        Modificar
                      </h2>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro:consultar' %}">
                      <h2>
                        Consultar
                      </h2>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro:bitacora' %}">
                      <h2>
                        Bitácora
                      </h2>
                    </a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <button type="button" class="btn btn-secondary" onclick="window.location.href='/logout/'">
                      Desconectar
                  </button>
              </form>
          </div>
    </nav>
    {% block content %}
                <div align="center">
                    <h1> 
                        Bienvenid@ al sistema, {{ user.username }} <!-- Colocar Nombre y Apellido -->
                    </h1>
                </div>
    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarColor02">
        <table HEIGHT="300" align="center">
        <tr>
        <td width=100 ALIGN=LEFT>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">Primary</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Registrar</a>
              <a class="dropdown-item" href="#">Modificar</a>
              <a class="dropdown-item" href="#">Consultar</a>
            </div>
          </div>
        </div>
        </td>
        <td>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">Primary</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Registrar</a>
              <a class="dropdown-item" href="#">Modificar</a>
              <a class="dropdown-item" href="#">Consultar</a>
            </div>
          </div>
        </div>
        </td>
        <td>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">Primary</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Registrar</a>
              <a class="dropdown-item" href="#">Modificar</a>
              <a class="dropdown-item" href="#">Consultar</a>
            </div>
          </div>
        </div>
        </td>
        <td>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">Primary</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Registrar</a>
              <a class="dropdown-item" href="#">Modificar</a>
              <a class="dropdown-item" href="#">Consultar</a>
            </div>
          </div>
        </div>
        </td>
        <td>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">Primary</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Registrar</a>
              <a class="dropdown-item" href="#">Modificar</a>
              <a class="dropdown-item" href="#">Consultar</a>
            </div>
          </div>
        </div>
        </td>
        </tr>
        <tr>
            <td>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-primary">Primary</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Registrar</a>
                  <a class="dropdown-item" href="#">Modificar</a>
                  <a class="dropdown-item" href="#">Consultar</a>
                </div>
              </div>
            </div>
            </td>
            <td>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-primary">Primary</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Registrar</a>
                  <a class="dropdown-item" href="#">Modificar</a>
                  <a class="dropdown-item" href="#">Consultar</a>
                </div>
              </div>
            </div>
            </td>
            <td>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-primary">Primary</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Registrar</a>
                  <a class="dropdown-item" href="#">Modificar</a>
                  <a class="dropdown-item" href="#">Consultar</a>
                </div>
              </div>
            </div>
            </td>
            <td>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-primary">Primary</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Registrar</a>
                  <a class="dropdown-item" href="#">Modificar</a>
                  <a class="dropdown-item" href="#">Consultar</a>
                </div>
              </div>
            </div>
            </td>
            <td>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" bgcolor="black">Dropdown</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
            </td>
            </tr>
        </table>
      </div>
    </nav>  
  </body>
</html>
